:root{
    --bg:rgb(190, 196, 217);
    --bgsoft:rgb(142, 203, 215);
    --text:black;
    --txtsoft:rgb(111,111,111);
    --btn:#9e7171;  

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: black;
    color: antiquewhite;
    */
    background-color: var(--bg);
    color:var(--text);
} 

a{
    text-decoration: dotted;
    color: inherit;
}
.container{
    /* background-color:rgb(191, 191, 209); */
    width: 1536px;
    margin:auto;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media(max-width:1536px){
    .container{
        width: 1366px;
    }
}
@media(max-width:1366px){
    .container{
        width: 1280px;
    }
}
@media(max-width:1280px){
    .container{
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width:1024px){
    .container{
        width: 768px;
    }
}
@media(max-width:768px){
    .container{
        width: 640px;
    }
}
@media(max-width:640px){
    .container{
        width: 475px;
    }
}