/* .scheduleimg {
     Add your desired styles here, e.g., width, height, margin, padding, etc. 
    width: 100%;  Make the image responsive 
    height: auto;
} */


/* .scheduleContainer {
    display: flex;
    gap: 20px; /* Adjust space between images if needed */
    /* justify-content: center;
    align-items: center;
} */

/* .scheduleImg {
    border-radius: 10px; /* Optional styling 
}  */


/* schedule.module.css */
.scheduleContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.scheduleTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.scheduleTable th, .scheduleTable td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.scheduleTable th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.scheduleTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.scheduleTable tr:hover {
  background-color: #f1f1f1;
}

.inputNumber {
  width: 80px;
  padding: 5px;
  text-align: center;
}

.saveButton {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.saveButton:hover {
  background-color: #45a049;
}
.fetchButton {
  padding: 12px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin: 20px 0;
  width: 100%;
  transition: background-color 0.3s ease;
}

.fetchButton:hover {
  background-color: #0056b3;
}

.highestFrequencyContainer {
  background-color: #e9ecef;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.highestFrequencyContainer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.highestFrequencyContainer ul {
  list-style-type: none;
  padding: 0;
}

.highestFrequencyContainer li {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 5px;
}